

/*Navigation bar*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    padding-left: 10%;
    height: 60px;
    align-items: center;
    background: #6C63FF;
    text-decoration: none;
}

.navbar p {
    font-size: 150%;
    margin: 0;
    padding: 0;
    /* font-weight: 900; */
    display: inline;
    text-align: center;
    height: 40%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:visited {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 150%;
    margin: 0;
    padding: 0;
    font-weight: 500;
    display: inline;
    text-align: center;
    height: 40%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.landing-page-navbuttons {
    display: flex;
    justify-content: space-around;
    width: 20%;
    font-weight: bold;
    margin: 0;
    height: 30%;
    color: white;
}

@media (max-width: 700px) {
    .landing-page-navbuttons {
        width: 40%;
    }
}

.landing-page-navbuttons li {
    cursor: pointer;
}

/*Header*/
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

@media (max-width: 800px) {
    .header {
        display: flex;
        flex-direction: column-reverse;
        /* justify-content: flex-end; */
        align-items: center;
        text-align: center;
        padding-bottom: 30px;
    }
}

.header img {
    width: 60%;
}

@media (max-width: 800px) {
    .header img {
        width: 80%;
    }
}
.header h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    color: #2F2E41;
}

.header p {
    line-height: 20px;
    font-size: 1.5rem;
    /* font-weight: bold; */
}

.header p span {
    font-weight: bold;
}

.button {
    margin-top: 30px;
    width: 60%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: darkorchid;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.apply-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 100px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #F3F2F7;
    margin-bottom: 100px;
    background: repeating-linear-gradient(
        45deg,
        #F3F2F7,
        #F3F2F7 14px,
        #465298 15px,
        #465298 14px
    );
}

.bottom-button {
    margin: 50px auto;
    width: 20%;
    height: 80px;
}

@media (max-width: 700px) {
    .bottom-button {
        width: 50%;
    }
}

/* Gist Text */
.gist-section {
    background-color: #6C63FF;
    height: 600px;
    display: flex;
    margin-bottom: 100px;
}

.gist-div {
    color: white;
    width: 70%;
    height: 70%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 14px,
        #465298 15px,
        #465298 14px
);
}

.gist-div h2 {
    margin-bottom: 20px;
    /* color: #2F2E41; */
}

.gist-div h1 {
    margin-bottom: 20px;
    text-decoration: underline;
    margin-bottom: 30px;
    /* color: #2F2E41; */
}

/*Steps*/
.steps {
    padding-left: 7%;
    padding-right: 7%;
    text-align: center;
}

.steps-heading {
    margin-bottom: 70px;
    color: #6C63FF;
    text-decoration: underline;
}

.step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.step img {
    width: 45%;
}

@media (max-width: 700px) {
    .step {
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .step img {
        width: 80%;
    }
}

.step h2 {
    font-size: 1.2rem;
}

.step-text {
    width: 40%;
}

@media (max-width: 700px) {
    .step-text {
        width: 80%;
    }
}

.reverse {
    flex-direction: row-reverse;
}

@media (max-width: 700px) {
    .reverse {
        flex-direction: column;
    }
}

.faq-section {
    text-align: center;
}

.faq-section h2 {
    margin-bottom: 70px;
}

.faq-apply {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 700px) {
    .faq-apply {
        width: 100%;
    }
}

.faq-apply h2 {
    /* line-height: 30px; */
    margin-bottom: 15px;
}

.faq-button {
    margin: auto;
    width: 30%;
    margin-top: 50px;
}

@media (max-width: 700px) {
    .faq-button {
        width: 50%;
    }
}

/* Footer */
footer {
    background-color: #6C63FF;
    font-size: 1rem;
    margin: 120px 0 0 0;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}